body {  

  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Marck Script', cursive;
  font-size: 80;
  background-color: white;
}

.navbar {
    color: white;
    background-color: grey;
}
.white {
  background-color: white;
}

.navbar-brand{
  background-color: white;
}

.errors{
  color: red;
}