body {  

  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Marck Script', cursive;
  font-size: 80;
  background-color: white;
}

.navbar {
    font-color: white;
    background-color: grey;
}